
@import "tailwindcss";

:root {
  --color-maroon-950: #320b14;
  --color-maroon-900: #3d0f18;
  --color-maroon-800: #4b121e;
  --color-maroon-700: #5b1725;
  --color-maroon-600: #701f30;
  --color-maroon-500: #8a2638;
  --color-maroon-100: #f5e8eb;
  --color-maroon-50: #fbf5f6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8f5f3;
  color: #21191b;
}

